img {
    
    width: 50%;
    height: 200px;
    
   
}
#A {
    margin-top: 20px;
    background-color:red;
}
.row {
    margin-top: 20px;
    padding-right: 0px;
    padding-left: 0px;
}
p {
    margin-top: 10px;
}
a {
    text-decoration: none;
}
.card {
    box-shadow: 5px 5px 5px #e5d9d9;
}
.fa-facebook-official
{
    padding-right:10px;
    
}
.fa-twitter {
    padding-right: 10px;
}
.ganesh {
    position:sticky;
    top:0px;
    z-index:3;
}