
h3 {
    color: red;
    height: 22px; background-color:blue;
    
}
#para1{
          color:blue;
              height:100px;
              background-color:red;
      }
.commonFont{
          color:green;
      }