
#ss {
    border: 2px solid #00bcd44d;
    margin: 50px 50px 50px 50px;
    padding: 50px 50px 50px 50px;
    box-shadow: 5px 10px 15px #00bcd44d;
    text-align: justify;
    font-family: cursive;
    text-transform: capitalize;
    text-decoration: underline;
    font-weight: bolder;
    font-style: oblique;
}
#pic {
    background-image: url(image.jpg);
    width: 100%;
    height: 263px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 81% 116%;
}
nav {
    background-color: aquamarine;
    height: 50px;
    z-index:2;
    position:sticky;
    width:100%;
    top:0px;
}
nav ul {
        display: inline-flex;
        list-style: none;
        float: right;
        
 }
    nav ul li {
        text-decoration: none;
        color: black;
        padding: 10px;
    }
a{
        text-decoration:none;
}
.content 
{
    position: relative;
    top: 26px;
}

#p1 {
    position: absolute;
    top: 35px;
    left: 10px;
    
}

#p2 {
    position: absolute;
    top: 35px;
    left: 214px;
    
}

#p3 {
    position: absolute;
    top: 35px;
    left: 420px;
    
}

#p4 {
    position: absolute;
    top: 339px;
    left: 10px;
}

#p5 {
    position: absolute;
    top: 339px;
    left: 214px;
}

#p6 {
    position: absolute;
    top: 339px;
    left: 420px;
}
#tt1 {
    
    box-shadow: 5px 4px 29px blue;
    padding: 50px;
}

